@import '~bootstrap/scss/bootstrap';

.nav-link
{
    color: white;
}

.footer
{
    background-color: #666666;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.copyright
{
    color: white;
}

@media all and (max-width: 572px)
{
    .nav-item
    {
        text-align: center;
    }
}