body
{
    background: radial-gradient(#159296,#9978ff);

}

.connection
{
    background-image: url("../../public/imgApp/communaute.png");
    background-position: center;
    background-repeat: no-repeat;
}
.card
{
    display: block;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: black 1px solid;
}

.btn-primary
{
    background-color: #0c59cf;
    border: none;
}

.question
{
    display: inline;
    color: white;
    font-size: 72px;
    font-family: Helvetica, sans-serif;
}

.response
{
    color: white;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}

@media all and (max-width: 572px)
{
    .card
    {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .order-one
    {
        order: 1;
    }
    .order-two
    {
        order: 2;
    }

    .order-three
    {
        order: 3;
    }

    .order-for
    {
        order: 4;
    }

    .order-five
    {
        order: 5;
    }

    .order-six
    {
        order: 6;
    }

    .question
    {
        font-size: 20px;
    }

    .response
    {
        font-size: 20px;
    }
}